{%extends "base.html.twig"%}
{% block body %}
    <div>
        <div>
            <div>
                <strong> URL FOUND: {{ article }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

